body{
    margin: 0; /*remove a marge,*/

    background-color: darkmagenta; /*muda a cor de fundo*/

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* tipo da letra */

}

h1{  

  text-align: center; /*alinhamento do titulo*/

  margin-bottom: 30px ; /*margem do titulo*/

}





.imagem{

    display : grid; /*faz a tela ficar em 3x3*/
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)   ) ;


    margin: auto; /*Margem*/
}


.imagem img{

width: 50%;
max-width: 100px;  
height: auto ;
justify-self: center ;

}















